<html>
  <head></head>
  <body>
  <header></header>
  <main>
    <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1>User info</h1>
      <table class="table table-striped">
  <tr><th>image</th><td> </td></tr>
  <tr><th>name</th><td><%= @user.name %></td></tr>
  <tr><th>introduction</th><td><%= @user.email %></td></tr>
</table>
<%= link_to "Edit", edit_user_path(@user), method: :edit %>

<h1>New book</h1>
  <%= form_with model: @book do |f| %>

    <h4>Title</h4>
      <%= f.text_field :book_name %>
    <h4>Opinion</h4>
      <%= f.text_area :caption %><br>
    <%= f.submit 'Create' %>
  <% end %>
    </div>
    <div class="col-lg-8">

    <div>
      <h1>Books</h1>
    <table class="table table-striped">
      <thead>
          <th>user</th>
          <th>Title</th>
          <th>Opinion</th>
      </thead>

      <% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
        <% @books.each do |book| %>
        <tr>
        <td><%= link_to "user" %></td>
        <td><%= book.book_name %></td>
        <td><%= book.caption %></td>
        </tr>
        <% end %>

    </table>
    </div>
    </div>
    </div>
  </div>
  </main>
  <footer></footer>
  </body>

</html>





